---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Button from "../components/Button.astro";
---

<Layout title="Frau Wunderwald | Neueröffnung">
  <main>
    <h1>VINTAGEMÖBEL AUS DEM WEDDING</h1>
    <h2>
      23.03.2023 <br />
      TRAVEMÜNDER STR. 7
    </h2>
    <div class="graphics">
      <h2 class="eroeffnung">NEUERÖFFNUNG →</h2>
      <div class="images">
        <img class="furniture" date-replace src="" alt="Image of a chair" />
      </div>
    </div>
    <Video />
    <Button text="IM GOOGLE KALENDER SPEICHERN" />
    <Button text="IM APPLE KALENDER SPEICHERN" />
    <Button text="IN OUTLOOK SPEICHERN" />
  </main>
</Layout>
<script>
  const placeholder = document.querySelector("[date-replace]") as any;
  placeholder.src = "/header_1.png";

  // switch images after scroll
  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) placeholder.src = "/header_1.png";
    if (window.scrollY > 50) placeholder.src = "/header_2.png";
    if (window.scrollY > 150) placeholder.src = "/header_3.png";
    if (window.scrollY > 250) placeholder.src = "/header_4.png";
    if (window.scrollY > 350) placeholder.src = "/header_5.png";
  });
</script>

<style lang="scss">
  main {
    padding: 23px;
    overflow-x: hidden;
  }

  [data-headerno] {
    display: none;
  }

  h1,
  h2 {
    font-size: 39px;
    font-weight: 300;
    margin: 0;
  }

  h1 {
    margin-bottom: 28px;
  }

  .graphics {
    display: flex;
    align-items: flex-start;

    .images {
      margin-top: 10px;
      flex: 1 1 0;
    }

    .furniture {
      object-fit: contain;
      object-position: top center;
      max-width: 100%;
      width: 100%;
      height: 370px;
      transform: translateY(-70px) scale(1.2);
      transform-origin: top left;
      position: relative;
      z-index: -10;
    }
  }

  .eroeffnung {
    margin-top: 28px;
    writing-mode: vertical-rl;
  }
</style>
