---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Button from "../components/Button.astro";
---

<Layout title="Frau Wunderwald | Neueröffnung">
  <header>
    <h1>VINTAGE MÖBEL LIVING</h1>
    <h2 class="highlight">NEU · 26.10.2023</h2>
    <h2 class="highlight">TRAVEMÜNDER STR. 7</h2>
    <img
      class="eroeffnung"
      src=`/eroeffnung.svg`
      alt="Neueröffnung"
      <div
      class="images"
    />
    <img class="furniture" date-replace src="" alt="Image of a chair" />
  </header>

  <main>
    <section class="laden">
      <h3>Der Laden</h3>
      <p>
        Mit Frau Wunderwald zum Interior-Traum.
        <br />
        Bei uns findet jeder etwas – denn unsere Produkte sind so divers wie unsere
        Kund:innen: Vom restaurierten Designerstück über ausgewählte Deko-Artikel
        bis zum erschwinglichen Sideboard. Möbel für jedes Zimmer, ausgesuchte Klamotten,
        Kunst und Bücher – alles unter einem Dach!
      </p>
      <p>
        Jedes Teil ist einzigartig. Und ständig wirst du neue Möbel, Lampen und
        Deko-Artikel bei uns finden: Denn unser Sortiment verändert sich stetig.
        So können wir deinen Wohntraum auf jeden Fall erfüllen.
      </p>
      <p>
        Komm vorbei und entdecke, was unser Familienunternehmen für dich bereit
        hält. Auf über 420 Quadratmetern auf zwei Stockwerken kannst du stöbern
        oder einfach nur Kunst genießen. Mit unserem Laden haben wir uns den
        Traum von Verkauf und Werkstatt unter einem Dach erfüllt. In einer
        denkmalgeschützen Halle im wunderschönen Wedding warten unsere Möbel auf
        dich.
      </p>
    </section>
    <section class="anfahrt">
      <h3>Anfahrt</h3>

      <p>
        <span class="pin">📍</span> Travemünder Straße 7, 1123 Wedding, Berlin
      </p>

      <a
        href="https://maps.app.goo.gl/Xf8uTtJtaM2eGXCM6"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="map"
          src="/maps_screen.png"
          alt="Screenshot von einer Karte, auf der der Laden zu sehen ist."
        />
      </a>
      <!-- 
      <gmp-map
        center="52.554195404052734,13.381795883178711"
        zoom="14"
        map-id="DEMO_MAP_ID"
      >
        <gmp-advanced-marker
          position="52.554195404052734,13.381795883178711"
          title="My location"
        >
        </gmp-advanced-marker>
      </gmp-map> -->
    </section>
  </main>
</Layout>
<!-- <script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvZJNt0ENiIvEN5HBtzeeuiiVuBoBQk_E&callback=console.debug&libraries=maps,marker&v=beta"
></script> -->

<script>
  const placeholder = document.querySelector("[date-replace]") as any;
  placeholder.src = `/header_1.png`;

  // switch images after scroll
  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) placeholder.src = `/header_1.png`;
    if (window.scrollY > 50) placeholder.src = `/header_2.png`;
    if (window.scrollY > 150) placeholder.src = `/header_3.png`;
    if (window.scrollY > 250) placeholder.src = `/header_4.png`;
    if (window.scrollY > 350) placeholder.src = `/header_5.png`;
  });
</script>

<script>
  import * as basicScroll from "basicscroll";
  const placeholder = document.querySelector("[date-replace]") as any;

  console.log(placeholder);

  const instance = basicScroll.create({
    elem: placeholder,
    // direct: true,
    from: "top-top",
    to: "bottom-top",
    props: {
      "--translateY": {
        from: "0px",
        to: "250px",
      },
    },
  });

  instance.start();

  window.onresize = () => {
    instance.calculate();
    instance.update();
  };
</script>

<style lang="scss">
  main {
    overflow-x: hidden;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 12px;
  }

  section + section {
    margin-top: 60px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 28px;
    position: relative;
    height: calc(100svh - 54px);
    max-height: calc(100svh - 54px);
    padding: 23px;

    .furniture {
      position: absolute;
      bottom: 0;
      right: -90px;
      z-index: -1;
      will-change: transform;
      transform: translateY(var(--translateY));
      height: 80svh;
    }

    .eroeffnung {
      margin-top: auto;
    }
  }

  h1,
  h2 {
    font-size: 39px;
    margin: 0;
    font-weight: 400;
    line-height: 1;
  }

  h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  .highlight {
    background: #ff5300;
    color: #fff;
    font-size: 26px;
    padding: 7px 14px;
    display: inline-block;
    margin-bottom: 12px;
  }

  h1 {
    margin-bottom: 28px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;

    div {
      flex: 1 1 0;
    }
  }

  section.laden {
    p {
      margin-bottom: 18px;
      font-size: 16px;
    }
  }

  section.anfahrt {
    p {
      margin-bottom: 18px;
    }

    .pin {
      user-select: none;
    }

    .map {
      margin-bottom: 40px;
    }

    gmp-map {
      width: 100%;
      height: 300px;
      margin-bottom: 60px;
    }
  }

  @media (min-width: 720px) {
    header {
      justify-content: flex-end;
      padding-bottom: 10vh;

      h1 {
        font-size: 65px;
        max-width: 580px;
        margin-bottom: 80px;
      }

      .highlight {
        font-size: 60px;
      }

      .eroeffnung {
        display: none;
      }

      .furniture {
        width: 50vw;
        right: 2vw;
        height: 90svh;
        object-fit: contain;
      }
    }
  }

  @media ((max-width: 1100px) and (min-width: 720px)) {
    header {
      h1 {
        font-size: 55px;
      }

      .highlight {
        font-size: 40px;
      }
    }
  }
</style>
