---
import { Image } from "astro:assets";
import locationIcon from "../assets/LocationIcon.svg";
---

<div class="video">
  <video
    class="portrait"
    src="/video_portrait.mp4"
    muted
    autoplay
    loop
    controls={false}></video>
  <video
    class="landscape"
    src="/video_landscape.mp4"
    muted
    autoplay
    loop
    controls={false}></video>

  <div class="text">
    <img class="furniture" src="/LocationIcon.svg" alt="Image of a Chair" />
    Travemünder Str. 7, 13357 Berlin
  </div>
</div>

<style lang="scss">
  .video {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .text {
      font-size: 24px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }

    video {
      width: 100%;
      height: 80svh;
      object-fit: cover;
      display: none;
    }

    .placeholder {
      width: 100%;
      background-color: #e4e4e4;
      aspect-ratio: 338 / 520;
    }

    @media (min-aspect-ratio: 2/3) {
      .landscape {
        display: block;

        aspect-ratio: 16/9;
        height: auto;
      }
    }

    @media (max-aspect-ratio: 2/3) {
      .portrait {
        display: block;
      }
    }
  }
</style>
