---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  preloadImages?: string[];
}
const { title, preloadImages } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <!-- meta description -->
    <meta
      name="description"
      content="Frau Wunderwald eröffnet seinen ersten Laden in Berlin, Wedding."
    />
    <meta name="author" content="Frau Wunderwald" />
    <meta
      name="keywords"
      content="Frau Wunderwald, Berlin, Wedding, Neueröffnung"
    />

    {
      preloadImages?.map((image) => (
        <link rel="preload" as="image" href={image} />
      ))
    }
  </head>
  <body>
    <div id="astro">
      <Navigation />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-family: "Suisse Intl", monospace, system-ui, sans-serif;
    background-color: #ffffff;
  }

  body {
    margin: 0;
  }

  #astro {
    position: relative;
    overflow-x: hidden;
    padding-top: 50px;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
